* {
    border: 1px solid #000;
}
body     {
    background-image: url("../img/concert.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.antraste {
    text-align: center;
    background-color: rgba(252, 252, 252, 0);
    text-transform: uppercase;
    font-size: 2em;
    color: white;
}
.linija {
    background-color: white;
    width: 40%;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.btn-sonas {
    padding: 5px 14px 14px;
    font-size: 3rem;
    /* font-family: cursive; */
    /* padding-top: 0; */
}
/* LOGO start ********************************************  */
.logutis {
    height: 100px;
    width: 100px;
}/* LOGO start ********************************************  */


.pirma {
    height: 20vh;
}
.antra {
    height: 60vh;
}
.trecia {
    height: 20vh;
}
